<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>     
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40730888?query=java%20Odessa">Разработчик Java</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40956609?query=java%20Odessa">Regular Manual QA Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40640126?query=java%20Odessa">Middle Frontend Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Recruit Alliance</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41063612?query=java%20Odessa">DevOps Engineer (E-commerce Project)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>